body {
  font-family: Arial;
  background: #f5f5f5;
}

.container {
  max-width: 100%; /* Changed from 400px */
  margin: 0 auto;
  background: white;
  padding: 0;
  min-height: 100vh;
}

input {
  width: 100%;
  margin: 6px 0;
  padding: 8px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}